body {
    width: 1000px;
}

#inButton {
    color: red;
}

#back-button {
    float: right;
}

#edit-button {
    padding-left: 5px;
    float: right;
}

.blog_title {
    font-size: 24px; /* Adjust the font size as per your preference */
    font-weight: bold; /* You can also use "normal" or numerical values */
    color: #333; /* Choose a suitable color for your title */
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

.blog_timestamp {
    margin-bottom: 30px; /* Adjust the margin-bottom as needed */
}
